<router-outlet></router-outlet>
<footer id="footer">
    <div>
        <nav class="footerNav pcNone">
            <ul class="cf">
                <li class="mailIcon select">
                    <a [routerLink]="['/concert']">
                        INFORMATION
                    </a>
                </li>
                <li class="addressIcon">
                    <a [routerLink]="['/special']">
                        SPECIAL TOPIC
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
